{{ template "chart.header" . }}

## Description

This installs the {{ template "chart.name" . }} chart that collects resource metrics from Kubernetes nodes, pods and the control plane API.

<!-- markdownlint-disable -->
{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
